/* Add CSS Styling */
.firstBtn,
.secondBtn{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.firstBtn{
    background-color: black;
    color: white;
}

.secondBtn{
    background-color: yellow;
}